@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

.make-post {
  @apply flex w-screen h-screen overflow-hidden bg-gray-200
}


.dark {
  @apply !bg-gray-800 text-white
}

.dark * {
  @apply border-white
}

.light * {
  @apply border-black
}

.dark input {
  @apply bg-gray-600
}

.image {
  @apply w-[800px] xl:block hidden
}

form {
  @apply w-full xl:w-[calc(100vw-800px)] h-full flex flex-col items-center gap-10 sm:px-20 px-10 pt-10 duration-200
}

.mode-btn-container {
  @apply w-full flex justify-end
}

form div {
  @apply w-full
}

form h1 {
  @apply text-4xl font-bold overflow-visible
}

form h2 {
  @apply text-2xl mb-2 font-bold
}

input, textarea {
  @apply w-full p-2 text-lg shadow-lg focus:outline-blue-600 rounded-sm duration-200
}

.make-post textarea {
  @apply outline-none resize-none w-full h-full
}

.submit-btn {
  @apply w-full text-xl p-4 font-bold text-center rounded-md bg-blue-800 text-white
}

.posts {
  @apply w-screen h-screen duration-200 bg-gray-200
}

.posts .list {
  @apply flex flex-col gap-5 overflow-scroll h-5/6 border-4 rounded-lg p-10 mx-10
}

.posts header {
  @apply flex justify-between items-center w-full h-24 px-10
}

.posts header div {
  display: flex;
  align-items: center;
  gap: 40px;
}

.posts header h1 {
  @apply sm:text-4xl text-2xl font-bold overflow-visible
}

.post-btn {
  @apply w-24 sm:w-48 bg-blue-800 sm:text-xl text-sm sm:p-4 p-2 text-white font-bold text-center rounded-md
}

.posts .empty {
  @apply w-full flex items-center justify-center
}

.posts .empty h1 {
  @apply font-bold text-2xl
}

.posts .post {
  @apply p-5 flex flex-col gap-5 w-full border-2 rounded
}

.posts .post h1 {
  @apply font-bold text-lg w-full border-b-2
}

.posts .post h2 {
  @apply opacity-50
}

.posts footer {
  @apply w-screen h-24 fixed bottom-0 flex items-center justify-center
}

.posts footer h1 {
  @apply font-bold text-lg
}

.posts a {
  @apply hover:text-blue-600
}